    <!-- AGENDE UMA CONSULTA -->
<div id="contact" class="cards-2">
        <div class="container">
			<div class="row">
<div class="col-lg-5">
  <div class="text-container">
                        <div class="section-title">AGENDE UMA CONSULTA</div>
						<br>
                    <ul class="list-unstyled li-space-lg">
                            <li class="address"><i class="fas fa-map-marker-alt"></i>
								<a href="https://www.google.com/maps/place/Av.+Paulista,+1048+-+Bela+Vista,+S%C3%A3o+Paulo+-+SP,+01310-100/@-23.5645009,-46.6544325,17z/data=!3m1!4b1!4m6!3m5!1s0x94ce59c7dd559ae7:0xe317d088d45054b4!8m2!3d-23.5645009!4d-46.6522438!16s%2Fg%2F11bw41f052" target="_blank">Avenida Paulista, 1048, 18&#730; andar.</a></li>
                            <li><i class="fab fa-whatsapp"></i>
								<a href="https://api.whatsapp.com/send?phone=551131922616&text=Eu%20gostaria%20de%20agendar%20uma%20consulta%20com%20a%20Dra.%20Martina." target="_blank">11 3192-2616</a></li>                          
                            <li><i class="fas fa-envelope" target="_blank"></i>
								<a href="mailto:consultorio@martinawagner.com.br">consultorio@martinawagner.com.br</a></li>
			    <li><i class="fab fa-instagram"></i>
								<a href="https://www.instagram.com/martinawgnr/?hl=pt" target="_blank">@martinawgnr</a></li>
    </ul>
                 	
	  				
                    <!-- end of text-container -->
  </div> 
  <!-- end of col -->
                  <!-- end of container -->
</div> 
				<!-- end of col agende uma consulta -->
				<div class="col-lg-7">
					<div class="text-container">
						<div class="section-title">LOCALIZAÇÃO</div><br>
						<center>
						<div class="map-responsive">	
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.1097664633594!2d-46.65443248509896!3d-23.56450088468135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59c7dd559ae7%3A0xe317d088d45054b4!2sAv.%20Paulista%2C%201048%20-%20Bela%20Vista%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2001310-100!5e0!3m2!1spt-BR!2sbr!4v1681261382863!5m2!1spt-BR!2sbr" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe><br>
					
						</div>
						</center>
					</div> 
				</div>	<!-- end of col localização -->		
			</div>
		</div>
	</div>
 	
	
	<!-- FOOTER -->
<div id="footer" class="footer">
	<p>Dra. Martina Wagner | www.martinawagner.com.br | Avenida Paulista, 1048, 18&#730; andar. São Paulo - SP.</p>	
</div>				

								
    <!-- Scripts -->
<script src="js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
<script src="js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
<script src="js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
<script src="js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
<script src="js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
<script src="js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
<script src="js/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
<script src="js/isotope.pkgd.min.js"></script> <!-- Isotope for filter -->
<script src="js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
<script src="js/scripts.js"></script> <!-- Custom scripts --> 
